# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=aff72867-fb69-42a0-a964-06dde2da90ae

    # Set to true to disable all reporting
    B:opt-out=true
}


