### Scenter Targets Configuration
## During game play you can cycle between all configured targets by pressing 'O' (forward) and 'P' (back).
## In this file you can configure these targets.
##
## Each line adds one target to Scenter.
## A target consists of one ore more blocks and an optional color code for tinting the particle trail.
##
## The line format is:
## <block-list> [<color (hexadecimal)>]
##   where <block-list> is <block>[, <block>] ... 
##   and where <block> is <block-name>[/<subtype>]
##
## Example 1:
##  obsidian 000000
##  adds a target for obsidian with a black (000000) particle trail color
## Example 2:
##  lava, flowing_lava FF0000 
##  adds a target for lava and flowing lava, with a red (FF0000) particle trail color
## Example 3:
##  wool/14, wool/4, wool/6 FFFFFF 
##  adds a target for red (/14), yellow (/4), and pink (/6) wool, with a white (FFFFFF) particle trail color
#
# Use '#' for comments
#
coal_ore, atum:coal_ore 000000
iron_ore, atum:iron_ore FFD9B3
gold_ore, atum:gold_ore FFFF47
diamond_ore, atum:diamond_ore 85FFFF
emerald_ore, atum:emerald_ore 80FF9F
lapis_ore, atum:lapis_ore 0A0AFF
redstone_ore, lit_redstone_ore, atum:redstone_ore FF0A0A
glowstone FFD24D
quartz_ore, dungeontactics:stonequartz_ore,thaumcraft:ore_quartz BAA882
astralsorcery:blockcustomore/0 BAA882
astralsorcery:blockcustomore/1 0A0AFF
astralsorcery:blockcustomsandore/0 0A0AFF
atum:bone_ore 010101
atum:relic_ore 010101
bewitchment:amethyst_ore, mysticalworld:amethyst_ore FF0A0A
bewitchment:garnet_ore FF0A0A
bewitchment:opal_ore FF0A0A
bewitchment:silver_ore, dungeontactics:silver_ore FF0A0A
bewitchment:salt_ore BAA882
dungeontactics:mithril_ore BAA882
mysticalagriculture:prosperity_ore, mysticalagriculture:nether_prosperity_ore, mysticalagriculture:end_prosperity_ore BAA882
mysticalagriculture:inferium_ore, mysticalagriculture:nether_inferium_ore, mysticalagriculture:end_inferium_ore 80FF9F
