# Configuration file

features {
    # Set to false to stop Aegis from protecting village chests.
    B:"Aegis Chest Protection"=false
    I:"Eechetik Mycelium Radius"=2

    # Sets the rate in ticks (20 ticks = 1 second) that a Nymph heals surrounding entities.
    I:"Nymph Healing Rate"=20
    I:"Rare Geonach Block Break Radius"=0

    # Controls how large the Royal Vapula's block breaking radius is when it is charging towards its target. Set to -1 to disable.
    I:"Rare Vapula Block Break Radius"=0
    I:"Spriggan Minion Crop Boosting"=20
}


